.btn {
   display: inline-block;
   max-width: 232px;
   width: 100%;
   padding: 1rem;
   border-radius: 70px;
   border: 1px solid #000000;
   text-align: center;
   box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.4);

   background-color: white;
   color: var(--color-main);

   font-weight: 900;
}

.btn:hover{
     box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}