.step {
   padding: var(--space-size);
   padding-bottom: 80px;
   background-color: white;
   color: var(--color-text);
}

.step_header {
   padding-top: 60px;
   padding-bottom: 50px;
   text-align: center;
}

.step_heading {
   font-size: 1.375rem;
   line-height: 1.219em;
   font-weight: 700;
}

.step_header > p,
.step_article > p {
   line-height: 1.625rem;
}

.step_container {
   margin-bottom: 40px;
   border: 8px solid;
   border-radius: 25px;
   border-image: url(./../images/bg-images/border-1step-mb.png) 10;
}

.step > div:nth-child(3) {
   border-image: url(./../images/bg-images/border-2step-mb.png) 10;
}

.step > div:nth-child(5) {
   margin-bottom: 60px;
}

.step_img_contain {
   width: 80px;
   height: 80px;
   padding: 4px;
   margin-top: 42px;
   margin-left: 20px;
   text-align: center;
   border-radius: 16px;
   background-color: var(--color-main);
}

.step_article {
   padding: 25px 20px 45px 20px;
}

.step_article h3 {
   font-size: 1.25rem;
   line-height: 1.75em;
   font-weight: 700;
}

.step_btn {
   display: block;

   background-color: var(--color-main);
   color: white;

   font-weight: 900;

   border-radius: 2rem;
   border: 1px solid #c90101;

   text-align: center;

   max-width: 770px;
   width: 80%;
   padding: 1rem;
   margin: auto;
}
@media (min-width: 576px) {
   .step {
      text-align: center;
   }

   .step_header > p,
   .step_article > p {
      font-size: 0.9rem;
   }

   .step_article h3 {
      font-size: 1.36rem;
      line-height: 1.2em;
   }

   .step_container {
      display: flex;
      flex-direction: row;
      text-align: left;
   }
   .step_container,
   .step > div:nth-child(3) {
      border-image: url(./../images/bg-images/bg-desctop-border.png) 10;
   }
   .step_img_contain {
      width: 100px;
      height: 100px;
      margin: 10%;
      margin-left: 32px;
   }

   .step_article {
      width: 70%;
   }
}

@media (min-width: 992px) {
   .step {
      background-color: white;
      background-image: url(./../images/bg-images/bg-section-step-desctop.png);
      background-repeat: no-repeat;
      background-size: contain;
   }

   .step_heading {
      font-size: 2.4rem;
      line-height: 1.2em;
   }

   .step_container {
      width: 65%;
      margin: auto;
      margin-bottom: 30px;
   }

   .step_img_contain {
      width: 115px;
      height: 105px;
      margin: auto;
      margin-left: 32px;
   }

   .step_article {
      width: 100%;
      padding-top: 60px;
   }
   img {
      margin: 15px auto;
   }
}
